.prevContainer {
  background-color: var(--color-ui-primary);
  color: var(--color-text-secondary);
  padding: 13px 15px;
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 7px;
  position: relative;
  transition: background-color 0.2s;
}
.prevContainer:hover,
.activePrevContainer {
  background-color: black;
}

.prevContainer img {
  width: 85px;
  margin-right: 10px;
  margin-left: 10px;
  background-color: white;
  border-radius: 10px;
}

.name {
  font-weight: 700;
  font-size: 17px;
}

.description p {
  font-size: 13px;
}

.numNotification {
  background-color: rgb(213, 53, 53);
  font-weight: 700;
  padding: 5px 10px;
  border-radius: 15px;
  margin-right: 5px;
}
