.userNavContainer {
  position: relative;
  font-size: 17px;
  cursor: pointer;
}
.userNavTrigger {
  display: flex;
  gap: 6px;
}

.userNavContainer img {
  width: 17px;
  height: 17px;
  background-color: white;
  padding: 5px;
  border-radius: 15px;
}

.userNavContainer .userNavPopup {
  position: absolute;
  bottom: -105px;
  right: 0;
  background-color: var(--color-brand-tertiary);
  flex-direction: column;
  gap: 10px;
  white-space: nowrap;
  border-radius: 5px;
  padding: 12px 10px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
}

.userNavContainer:hover .userNavPopup {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateY(0);
}

.userNavContainer .userNavPopup .line {
  cursor: pointer;
  padding: 0;
  width: 100%;
}
.userNavContainer .userNavPopup .line:hover {
  color: blueviolet;
}
.userNavContainer .userNavPopup .logout {
  color: red;
}
