.eventPage {
  padding: 45px 200px;
}
.info {
  display: flex;
  align-items: start;
  gap: 40px;
  margin-bottom: 40px;
}

.eventPage .info .expoAvatar {
  width: 420px;
  border-radius: 10px;
}

.data {
  display: flex;
  width: 100%;
  gap: 20px;
  align-items: center;
}
.title,
.date,
.description {
  flex: 1;
  padding: 5px 10px;
  text-align: center;
  border-radius: 5px;
}
.title,
.date {
  background-color: rgb(216, 216, 216);
}

.description {
  text-align: justify;
  margin-top: 20px;
  padding: 12px 25px;
}

.description p {
  font-size: 19px;
}

.title p {
  font-weight: 700;
  font-size: 20px;
}
.date {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.eventPage .info .data .date img {
  width: 20px;
  height: 20px;
}
.eventPage .planContainer {
  display: flex;
  gap: 40px;
}
