.login {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 70px;
}

.form {
  background-color: rgb(199, 199, 199);
  padding: 20px 30px;
  border-radius: 5px;
}
.login .row {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 10px;
}
.form .row input {
  border: none;
  padding: 7px 12px;
  border-radius: 5px;
  font-size: 15px;
  width: 270px;
}
.login button {
  background-color: black;
  color: white;
  border: none;
  padding: 7px 15px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-weight: 300;
  margin: 10px 0;
}
.login .question {
  font-size: 14px;
}
.login .errMsg {
  background-color: lightpink;
  margin: 5px 0;
}
.login .inputHint {
  background-color: rgb(80, 80, 80);
  color: white;
  font-size: 13px;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px 0;
  width: 275px;
}
.login .invisible {
  display: none;
}
.login .form .row .correct {
  border: 2px solid rgb(44, 166, 44);
}
.login .form .row .incorrect {
  border: 2px solid rgb(193, 5, 46);
}
.login .form button:disabled {
  cursor: auto;
  background-color: rgba(0, 0, 0, 0.166);
}
