.footer {
  background-color: var(--color-brand-primary);
  margin-top: 40px;
  padding: 60px 200px;
  display: flex;
  gap: 35px;
  color: var(--color-text-secondary);
}

@media (max-width: 850px) {
  .footer {
    padding: 30px 100px;
  }
}

@media (max-width: 650px) {
  .footer {
    flex-direction: column;
  }
}

@media (max-width: 490px) {
  .footer {
    padding: 30px 40px;
  }
}

.footer h4 {
  font-size: 19px;
  margin-bottom: 14px;
}

.footer p {
  font-size: 16px;
  margin: 3px 0;
}

.contact img {
  width: 13px;
  height: 13px;
}

.contact div {
  display: flex;
  align-items: center;
  gap: 5px;
}
