.selector {
  width: 82%;
  margin: 20px auto;
}

.searchbar {
  width: 450px;
}
.selector select {
  color: var(--color-text-tertiary);
}
.selector option:not(:first-of-type) {
  color: black;
}

.select,
.searchbar {
  padding: 10px 18px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background-color: var(--color-ui-quinary);
  color: var(--color-text-tertiary);
  font-weight: 300;
  border: 1px solid rgb(86, 86, 86);
  margin-right: 10px;
  margin-bottom: 8px;
}

::-webkit-calendar-picker-indicator {
  filter: invert(0.4);
}

.resetBtn {
  padding: 10px 18px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background-color: var(--color-button-decline);
  color: white;
  font-weight: 300;
}
