.adminNav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: lightslategray;
  color: white;
  padding: 25px 0;
  justify-content: space-between;
}
.adminNav a {
  padding: 10px;
  text-decoration: none;
  color: white;
}
.adminNav a:hover,
.adminNav :global(.active) {
  background-color: rgb(152, 172, 191);
}
.subpagesContainer,
.accountContainer {
  display: flex;
  flex-direction: column;
}
.accountContainer {
  padding: 0 15px;
}
.profile {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
  padding: 0 5px;
}
.accountContainer .profile img {
  width: 18px;
  height: 18px;
  background-color: white;
  padding: 5px;
  border-radius: 15px;
}
.accountContainer button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  background-color: rgb(153, 0, 0);
  color: white;
}
.adminNav .subpagesContainer .logo {
  font-size: 40px;
  margin-left: 20px;
  margin-bottom: 10px;
}
.adminNav .subpagesContainer .logo span {
  font-size: 15px;
  vertical-align: sub;
}
