.svg {
  background-color: rgb(217, 217, 217);
}
.svg .occupied:hover {
  stroke: rgb(0, 171, 0);
  stroke-width: 2px;
  cursor: pointer;
}

.svg .occupied {
  transition: fill 0.4s;
}

.title {
  text-align: center;
  padding: 15px 5px;
  border: 5px solid black;
  margin-bottom: 15px;
}
