.footer {
  background-color: lightslategray;
  margin-top: 40px;
  padding: 20px 200px;
  display: flex;
  gap: 35px;
}

.footer h4 {
  margin-bottom: 6px;
}

.footer p {
  font-size: 16px;
  margin: 3px 0;
}

.contact img {
  width: 13px;
  height: 13px;
}

.contact div {
  display: flex;
  align-items: center;
  gap: 5px;
}
