.header {
  background-color: var(--color-brand-primary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 200px;
  z-index: 100;
}

.nav {
  display: flex;
  align-items: stretch;
  height: 100%;
}

.navOption,
.nav div {
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.nav p {
  font-size: 19px;
}
.nav a {
  text-decoration: none;
  color: var(--color-text-primary);
}

.navOption {
  cursor: pointer;
  transition: background-color 0.3s;
}

.navOption:hover,
.nav :global(.active) {
  background-color: var(--hilite-brand-primary);
  border-bottom: 3px solid white;
  color: var(--color-text-secondary);
}

.loginBtn {
  background-color: var(--color-brand-secondary);
  color: var(--color-text-secondary);
  border: none;
  padding: 7px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 19px;
  font-weight: 300;
  transition: background-color 0.3s, color 0.3s;
}

.nav .loginBtn:hover {
  background-color: var(--color-ui-quartary);
  color: var(--color-text-primary);
  transition: transform 0.2s;
}

.nav .loginBtn:active {
  transform: scale(0.9);
}
