.exhibitorsFinder {
  flex: 1;
  background-color: var(--color-brand-tertiary);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  height: calc(100vh - 70px);
}
.searchRow {
  padding: 15px 10px 5px 10px;
  display: flex;
  gap: 10px;
}
.finderBar {
  flex: 1;
}
.select,
.finderBar {
  padding: 10px 18px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 300;
}

.listContainer {
  flex: 1;
  display: flex;
  flex-direction: column;

  width: 100%;
}
.listContainer h2 {
  margin-top: 10px;
}
.listContainer .exhibList {
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--color-ui-quinary);
  padding: 10px;
  list-style: none;
}
.finderBar,
.select {
  background-color: var(--color-ui-quinary);
  color: var(--color-text-tertiary);
  font-weight: 300;
  border: 1px solid rgb(86, 86, 86);
}
.listContainer .listContainerHeader {
  background-color: var(--color-ui-quinary);
  padding: 5px 10px;
  border-radius: 5px 5px 0 0;
}

@media (max-width: 1400px) {
  .exhibitorsFinder {
    flex: 1.6;
  }
}
