.eventsGrid {
  padding: 25px 110px 40px 110px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 45px;
  row-gap: 25px;
}

@media (max-width: 1440px) {
  .eventsGrid {
    padding: 25px 80px 40px 80px;
  }
}

@media (max-width: 1375px) {
  .eventsGrid {
    padding: 25px 50px 40px 50px;
    column-gap: 30px;
  }
}

@media (max-width: 1285px) {
  .eventsGrid {
    padding: 25px 50px 40px 50px;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
  }
}

@media (max-width: 1115px) {
  .eventsGrid {
    padding: 25px 40px 40px 40px;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
  }
}

@media (max-width: 965px) {
  .eventsGrid {
    padding: 25px 40px 40px 40px;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
  }
}

@media (max-width: 660px) {
  .eventsGrid {
    padding: 25px 40px 40px 40px;
    grid-template-columns: 1fr;
    column-gap: 30px;
  }
}
